* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Libre Baskerville', serif;
    --color1: #FFF;
    --color2: #070707b6;


}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: rgba(3, 3, 3, 0.801);
    padding: 12px 20px;
    position: fixed;
}

.logo img {
    width: 130px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}

/*  fin de la navbar   */
main {
    width: 100%;
    background: #f1f1f1;
}

main .local {
    padding-top: 5em;
    background: url(../Imagenes/general/fondo3.jpg) #525252 no-repeat center;
    background-blend-mode: multiply;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

main .local__info {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

main .local__info h1 {
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
    font-size: 3rem;
    line-height: 1em;
    color: #fffefe;
    text-decoration: underline;
    padding-top: 10rem;

}

main .local__info p {
    font-weight: bold;
    color: #fffdfd;
    padding-bottom: 2rem;
}

main .local__wpp {
    width: 50%;
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 15rem;
}

main .local__wpp a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7em 1em;
    margin: .25em;
    text-decoration: none;
    background-color: #007200;
    color: #f3f3f3;
    border-radius: 1em;
    font-weight: bold;
}

main .local__wpp a img {
    width: 2.5em;
    height: 2.5em;
    margin: .25em;
}

/* FIN DE LA NAVBAR */

main .daymenu {
    padding: 1em;
}

main .daymenu__info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

main .daymenu__info h2 {
    margin-bottom: .3em;
    font-size: 3rem;
}

main .daymenu__info p {
    margin-bottom: 2em;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

main .daymenu__info p span {
    font-weight: bold;
    color: #f30303;
}

.card {
    background-color: #050505;
    width: 23rem;
    padding: .5rem;
    border-radius: 2%;
    margin: 1rem;
    color: #ffffff;
}

.card .imagen__card {
    width: 100%;
}

.contenedor__home {
    display: flex;
    justify-content: center;
}

.card__titulo {
    text-align: center;
    padding-top: 1rem;
}

.texto__card {
    text-align: center;
    padding-top: 1rem;
}

/* FIN DE LA PARTE DE INICIO */
footer {
    background-color: black;
    height: 10rem;
    width: 100vw;
    color: white;
    position: relative;
    bottom: 0;

}

.footer_contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin: auto;
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 1rem;
}

.footer_contenedor h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.social_media {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
}

.social_media li {
    margin: 0 10px;
}

.social_media a {
    text-decoration: none;
    color: white;
}

.social_media a i {
    font-size: 1.1rem;
}

.social_media a:hover {
    color: rgb(255, 0, 0);
}

.footer_li:hover {
    background-color: rgba(0, 0, 0, 0.425);
}

/*  FIN DEL FOOTER */

#carta {
    width: 100%;
    padding: 1em;
    background: url("../Imagenes/general/patterncarta.png");
}

#carta .carta-info {
    width: 100%;
    padding-top: 7em;
    margin-bottom: 2em;
    text-align: center;
}

#carta .carta-info h1 {
    font-size: 4rem;
    margin-bottom: .2em;
    text-decoration: underline;
    padding-top: 2rem;
}

#carta .carta-info p {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
}

#carta h2 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 4rem;
    color: #ff0000;
    padding-bottom: 3rem;
    text-decoration: underline;

}

#carta .carta-info {
    padding-top: 5.5em;
}

#carta .carta-info h1 {
    font-size: 2rem;
}

#carta .carta-info p {
    font-size: 1.04rem;
    font-weight: 400;
}

#carta .foods {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 90%;
    padding-left: 8rem;


}

#carta .foods__img {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    background: #fff;
    box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.45);
    margin-bottom: 3em;

}

#carta .foods__img:hover {
    transform: scale(1.1);
    transition: .2s;
}

#carta .foods__img img {
    width: 100%;
}

#carta .foods__img .foods__info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#carta .foods__img .foods__info p {
    margin-bottom: .5em;
    padding: 0 .1em;
    font-size: 1.44rem;
    font-weight: 600;
    line-height: 1.1em;
    text-align: center;
    margin-top: 1rem;
}

#carta .foods__img .foods__info .price {
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #f80606;
}

/* FIN DE LA PARTE DE CARTA */

#contacto .form-container .form-container__title {
    text-align: center;
    height: 100%;
}

#contacto .form-container .form-container__title h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

#contacto .form-container .form-container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1em auto;
}

#contacto .form-container .form-container__form input,
#contacto .form-container .form-container__form select,
#contacto .form-container .form-container__form textarea {
    width: 50%;
    margin-bottom: 2em;
}

#contacto .form-container .form-container__form input[type="text"],
#contacto .form-container .form-container__form input[type="email"],
#contacto .form-container .form-container__form textarea {
    overflow: hidden;
    padding: 1em 1em .5em 0;
    background: none;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: left;
    font-size: 0.72727rem;
}

#contacto .form-container .form-container__form select {
    padding: .5em;
    background: none;
    border: 1px solid #000000;
}

#contacto .form-container .form-container__form select option {
    text-align: center;
}

#contacto .form-container .form-container__form textarea {
    resize: none;
    width: 50%;
    height: 3em;
}

#contacto .form-container .form-container__form input[type="submit"] {
    width: 50%;
    padding: .7em 1em;
    font-size: 0.96rem;
    font-weight: 600;
    text-transform: uppercase;
    background: #f30000;
    border: none;
    cursor: pointer;
}

#contacto .form-container embed {
    width: 25%;
    margin: 0 auto;
}

#contacto .form-container {
    flex-flow: row wrap;
    padding-top: 8em;
}

#contacto .form-container .form-container__title {
    width: 100%;
    margin-bottom: 2em;
}

#contacto .form-container .form-container__title h1 {
    font-size: 2.5rem;
}

#contacto .form-container .form-container__title p {
    font-size: 0.96rem;
    font-weight: 300;
}

#contacto .form-container .form-container__form {
    width: 80%;
}

#contacto .form-container .form-container__form input[type="submit"]:active {
    background: #f71d00;
    transform: scale(0.9);
    transition: all .1s;
}

/*  FIN DEL FORMULARIO X AHORA, FALTA AJUSTARLO UN POCO MAS */
@media screen and (max-width: 425px) {

    .local {
        flex-direction: column;
    }

    .local__info,
    .local__wpp {
        margin-bottom: 20px;
    }

    .local__wpp a {
        display: inline-block;
        padding: 10px;
        text-align: center;
    }

    .local__wpp a span {
        display: block;
        margin-top: 5px;
    }

    .contenedor__home {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {

    .foods {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .foods__img {
        width: 100%;
        
    }


    .foods__info {
        width: 100%;
        text-align: center;
        font-size: xx-small;
    }

    
    h2 {
        text-align: center;
    }

    
    footer {
        text-align: center;
    }

    .footer_contenedor {
        margin-bottom: 20px;
    }
}

/* FIN DEL RESPONSIVE */

.proximamente{
    padding-top: 10rem;
    text-align: center;
}

.delivery{
    padding-top: 10rem;
    text-align: center;
}