* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF;
    --color2: #070707;
 
    
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}

.logo img {
    width: 130px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}

/*  fin de la navbar   */
main {
    width: 100%;
    background: #f1f1f1;
  }
  
  main .local {
    padding-top: 5em;
    background: url(../Imagenes/fondo3.jpg) no-repeat center;
    background-blend-mode: multiply;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  
  main .local__info {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  
  main .local__info h1 {
    display: flex;
    flex-flow: column;
    margin-bottom: .4em;
    font-size: 2.5rem;
    line-height: 1em;
    color: #020202;
  }
  
  main .local__info p {
    font-weight: 600;
    color: #000000;
  }
  
  main .local__wpp {
    width: 80%;
    margin: 0 auto;
    padding-top: 3em;
  }
  
  main .local__wpp a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7em 1em;
    margin: .25em;
    text-decoration: none;
    background-color: #007200;
    color: #000000;
    border-radius: 1em;
  }
  
  main .local__wpp a img {
    width: 2.5em;
    height: 2.5em;
    margin: .25em;
  }